<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Mantém o CONSOLE e os conversores padrão do Spring Boot
         (respeita logging.pattern.console e logging.level.* das properties). -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="APP_NAME"
                    source="spring.application.name" defaultValue="unknown-service"/>

    <!-- Envia os logs para o Papertrail via syslog sobre TLS.
         Configure o destino da SUA conta nas variáveis de ambiente
         PAPERTRAIL_HOST e PAPERTRAIL_PORT (ex.: logs6.papertrailapp.com / 12345). -->
    <appender name="PAPERTRAIL" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} [%X{traceId:-},%X{spanId:-}] %-5level %logger{36} - %msg%n%xException</pattern>
        </layout>
        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
            <host>${PAPERTRAIL_HOST:-logsN.papertrailapp.com}</host>
            <port>${PAPERTRAIL_PORT:-00000}</port>
            <ident>${APP_NAME}</ident>
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PAPERTRAIL"/>
    </root>

</configuration>
